html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 700; }

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#mainContent {
  position: relative;
  width: 320px;
  height: 480px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: "OpenSans-Semibold", "Arial Black", Tahoma, "sans-serif";
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent img, #mainContent div {
    position: absolute; }

#bg {
  width: 320px;
  height: 480px;
  background: url("../img/background.jpg") no-repeat;
  top: 92px; }

.copy {
  font-size: 25px;
  line-height: 30px;
  top: 162px;
  left: 20px;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px); }

.hitachiLogo {
  top: 28px;
  left: 90px; }

.cta {
  position: absolute;
  bottom: 27px;
  right: 20px;
  width: 86px;
  height: 32px;
  font-size: 14px;
  color: #fff;
  line-height: 2.3;
  text-align: center;
  background: #c00; }

#clickArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 480px;
  cursor: pointer; }

@media screen and (min-width: 480px) {
  #mainContent {
    width: 480px;
    height: 320px; }
  #bg {
    width: 480px;
    top: -13px;
    background: url("../img/responsiveBg.jpg") no-repeat; }
  .hitachiLogo {
    left: 318px; }
  .copy {
    top: 81px; }
  .cta {
    top: 158px;
    left: 21px; } }
